.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 24px;
    width: 1216px;
}

.button {
    display: flex;
    align-items: center;
    color: #6a0bff;
    background-color: transparent;
    border: none;
}
