.filters {
    position: sticky;
    top: 20px;
    padding: 24px;
    background-color: #fff;
    border-radius: 24px;
}

.input {
    width: 344px;
    height: 48px;
    padding: 14px 24px;
    margin-bottom: 24px;
    border: 1px solid #e8e8e8;
    border-radius: 68px;
    font-size: 16px;
    line-height: 130%;
}

.input::before {
    content: '';
    background-image: url('/src/shared/assets/icons/Magnifer.svg');
}
