.title {
    margin-bottom: 8px;
}

.wrapper:not(:last-child) {
    margin-bottom: 8px;
}

.list {
    display: flex;
    justify-content: start;
    flex-flow: row wrap; /* Ключевое свойство - перенос на новую строку */
    gap: 8px;
    width: 296px;
}

.itemBtn {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    border-radius: 12px;
    border: 1px solid #bababa;
    gap: 8px;

    /* display: inline-block; !* Ключевое свойство *! */
    width: fit-content; /* Или width: auto */
    cursor: pointer; /* Добавляем указатель */
    background-color: white; /* Фон */
    transition: all 0.2s ease; /* Плавный эффект */
}

/* Дополнительные улучшения */
.itemBtn title {
    margin: 0;
    white-space: nowrap; /* Чтобы текст не переносился */
}

.itemBtn:hover {
    background-color: #f5f5f5;
}

.itemBtn:active {
    background-color: #e9e9e9;
}

.itemLink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content; /* Или width: auto */
    cursor: pointer; /* Добавляем указатель */
    transition: all 0.2s ease; /* Плавный эффект */
    border: none;
    background-color: transparent;
}

.itemLink:hover {
    color: #6a0bff;
}

.active {
    border-color: #6a0bff;
}
