.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 24px;
    text-align: center;
    background-color: #fff;
    border-radius: 24px;
}

.icon {
    width: 120px;
    height: 120px;
    margin-bottom: 24px;
    color: #d1d1d1;
}

.icon svg {
    width: 100%;
    height: 100%;
}

.title {
    font-size: 24px;
    font-weight: 600;
    color: #303030;
    margin: 0 0 12px;
}

.description {
    font-size: 16px;
    color: #666;
    margin: 0;
    max-width: 400px;
}
