.specialization_button {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    border-radius: 12px;
    border: 1px solid #bababa;
    gap: 8px;

    /* display: inline-block; !* Ключевое свойство *! */
    width: fit-content; /* Или width: auto */
    cursor: pointer; /* Добавляем указатель */
    background-color: white; /* Фон */
    transition: all 0.2s ease; /* Плавный эффект */
}

/* Дополнительные улучшения */
.specialization_button p {
    margin: 0;
    white-space: nowrap; /* Чтобы текст не переносился */
}

.specialization_button:hover {
    background-color: #f5f5f5;
}

.specialization_button:active {
    background-color: #e9e9e9;
}

.title {
    font-size: 16px;
}
