.section {
    display: flex;
    background-color: #fff;
    padding: 24px;
    margin-bottom: 20px;
    gap: 10px;
    border-radius: 24px;
}

.titleContent {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.answerContent {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.textContent {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.mb {
    margin-bottom: 8px;
}
